/* Home.css */
.home {
  height: 50vh;
    padding: 100px 0;
    text-align: center;
    background-color: #1c1e1f;
  }
  
  .home h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: normal;
    color: white;
  }

  .container span {
    color: #53dbf7;
  }

  .desc {
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 0;
  }
  
  .desc p {
    font-size: 18px;
    font-weight: lighter;
    text-transform: uppercase;
    
  }

  .divider {
    padding: 0 16px;
    color: white;
  }

  .home p:first-child {
    color: #53dbf7;
  }
  .home p:last-child {
    color: #53dbf7;
  }
  
  @media (max-width: 768px) {

  }
  