/* Home.css */
.home {
  height: 80vh;
  background-color: var(--main-bg);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0 56px;
}

.header-section {
  width: 100%;
  text-align: left;
}

.header-section p {
  color: var(--p-text);
}
  
  .home h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: normal;
    color: #FFFFFF;
    font-weight: 400;
  }

  .home span {
    color: var(--highlight);
  }

  .desc {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 8px;
  }
  
  .desc p {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 0;
    padding: 0 8px;
  }

  .divider {
    color: #333333;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 56px; 
  }

  .icon-container div {
    height: 3rem;
    width: 3rem;
    margin: 0 16px;
    padding: 10px;
    border-radius: 8px;
  }

  .icon-container div:hover {
    background-color: #33333362;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {

  }
  