.project-section {
    text-align: center;
    padding: 20px;
    min-height: 100vh;
    position: relative;
    background-color: var(--secondary-bg);
  }

  .projects-title {
    width: 100%;
    text-align: left;
    padding-left: 56px;
  }

  .project-section span {
    color: var(--highlight);
  }

  .project-section h2 {
    color: #FFFFFF;
  }
  
  .projects-container {
    display: flex;
    width: 100%;
  }

  .projects-header {
    width: 80%;
    text-align: left;
    padding-left: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .projects-header button {
    background-color: transparent;
    border: 1px solid var(--highlight);
    color: #FFFFFF;
    padding: 12px 32px;
    font-size: 20px;
  }

  .projects-header button:hover {
    background-color: var(--highlight);
  }

  .projects-header h3 {
    font-weight: 400;
    letter-spacing: 1.05px;
    line-height: 32px;
    color: #FFFFFF;
    font-size: 24px
  }
  
  .project {
    width: 300px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
  }
  
  .project img {
    max-width: 100%;
    height: auto;
  }
  
  .project h3 {
    margin-top: 10px;
  }
  
  .project a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  

  .card-container {
    display: flex; /* Use flex layout to arrange cards in a row */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent cards from wrapping to the next line */
    width: 100%;
    scroll-snap-type: x mandatory;
  }
  
  .card {
    min-width: 500px; /* Adjust the width of each card as needed */
    min-height: 325px; /* Adjust the height of each card as needed */
    margin-right: 56px; /* Add spacing between cards */
    background-color: #f0f0f0; /* Set card background color */
    border: 1px solid #ddd; /* Add a border for cards */
    display: inline-block; /* Prevent vertical alignment issues */
    margin-bottom: 16px;
    border-radius: 8px;
    scroll-snap-align: start;
  }
  
  /* Style for scrollbar (optional) */
  .card-container::-webkit-scrollbar {
    width: 10px; /* Set scrollbar width */
    cursor: pointer;
  }
  
  .card-container::-webkit-scrollbar-thumb {
    background-color: var(--highlight); /* Set scrollbar thumb color */
    border-radius: 5px; /* Round the scrollbar thumb */
  }

  @media (max-width: 790px) {
    .projects-container {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .card {
        min-width: 250px; /* Adjust the width of each card as needed */
        min-height: 325px; /* Adjust the height of each card as needed */
        margin-right: 56px; /* Add spacing between cards */
        background-color: #f0f0f0; /* Set card background color */
        border: 1px solid #ddd; /* Add a border for cards */
        display: inline-block; /* Prevent vertical alignment issues */
        margin-bottom: 16px;
        border-radius: 8px;
        scroll-snap-align: start;
      }

      .projects-header {
        margin-bottom: 56px;
        width: 100%;
        padding-left: 24px;
      }

      .projects-header h3 {
        font-size: 20px
      }

      .projects-title {
        padding-left: 24px;
      }
  }
  